{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'macros.html' import navbar %}

{% block title %} {{super()}} | New Task {% endblock %}

{% block body %}
{% block content %}
{{ navbar(current_user) }}
<div class="container">
    <br><br>
    <h1 class="h1 fs-3">New task</h1>
    <div class="p-2 flex-grow-1">
        {{ render_form(task_form, method='post', action=url_for('tasks.create_task', list_id=list.id)) }}
    </div>
</div>
{% endblock %}
{% endblock %}